* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #fff;
  background-image: url(../imagens/bg.png);
  margin: 15px;
}

main {
  background-color: #ede9cc;
  background-image: url(../imagens/bg-container.png);
  background-position: top center;
  background-repeat: repeat-y;
  margin: 0% auto;
  min-width: 740px;
  max-width: 1180px;
}

header {
  position: relative;
  background: #dbcd87;
  height: 15.4em;
  min-height: 250px;
}

#logo-area {
  background: url(../imagens/topo-imagem-principal.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 250px;
  top: 0%;
  left: 0%;
  z-index: 1;
}

#menu-area {
  background: url(../imagens/topo-imagem-lateral.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 450px;
  height: 250px;
  top: 0%;
  right: 0%;
  z-index: 2;
}

#content-menu {
  margin-left: 90px;
  margin-right: 15px;
  padding-top: 15px;
}

#locals-menu {
  border-top: 1px solid #b5ab56;
  border-bottom: 1px solid #b5ab56;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.7em;
}
#locals-menu .locals {
  float: left;
  line-height: 2.1em;
}

.locals a {
  color: #8b8448;
}

a.reservation {
  text-transform: uppercase;
  background-color: #a29750;
  color: #fff5b0;
  padding: 5px 10px;
  float: right;
}

#menu {
  margin-top: 15px;
}

ul {
  list-style: none;
}

ul#navigation {
  float: left;
}

ul#navigation a {
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 5px;
  color: #6e672c;
  line-height: 30px;
}

ul#navigation a:hover {
  background: #fdf6be;
  border-radius: 2px;
}

.depoimento {
  width: 226px;
  height: 164px;
  float: right;
}

#principal-area {
  float: left;
  width: 50%;
  background-image: url(../imagens/bg-area-principal.png);
  background-position: top left;
  background-repeat: repeat-x;
  padding: 15px 0px;
}

#lateral-area {
  float: right;
  width: 50%;
  background-image: url(../imagens/bg-area-lateral.png);
  background-position: top left;
  background-repeat: repeat-x;
  padding: 20px 0px;
}

.content {
  margin: 0% auto;
  width: 90%;
}

a {
  text-decoration: none;
}

.logo a {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 3;
  background-image: url(../imagens/logo.png);
  background-repeat: no-repeat;
  width: 151px;
  height: 66px;
  text-indent: -9000px;
}

footer {
  clear: both;
  padding: 16px;
  background-color: #fff;
  background-image: url(../imagens/bg-rodape.png);
  background-position: top;
  background-repeat: repeat-x;
  color: #7d7640;
  text-align: center;
}

h2 {
  color: #7d7640;
  font-size: 1.1em;
  padding: 5px 0px;
}

p {
  font-size: 1em;
  margin-bottom: 10px;
}
#beneficios li {
  padding: 8px;
  border-bottom: 1px solid #f3efcb;
  height: 6em;
}

#beneficios li a img {
  float: left;
  margin-right: 8px;
}
#beneficios li a {
  font-size: 0.8em;
}
#beneficios li a h3 {
  font-size: 1em;
  color: #615b2d;
  padding: 5px 0;
  background: url(../imagens/ornamento.png);
  background-repeat: no-repeat;
  background-position: center right;
}

#beneficios li:hover {
  background-color: #f6f3d6;
  cursor: pointer;
}
